.card {
    font-family: "Roboto";
    display: grid;
    align-items: center;
    padding: 8px 16px;
    min-width: 288px;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(138, 148, 159, 0.2);
    height: 94px;
}

.summary {
    display: flex;
    justify-content: space-between;
}

.distanceContainer,
.timeContainer,
.paceContanter {
    display: grid;
    justify-items: center;
}

.header {
    border-bottom: 1px solid black;
    display:  flex;
    justify-content: center;
    align-items: center;
}